.cont{
    width: 85%;
    margin: auto;
    border: 2px solid #eee;
    box-shadow: 4px 2px 4px gray;
    overflow-x: auto;
    padding: 20px;
    background-color: #d9b08c;
    /* background-color: #116466; */
}

#peopleTableBody{
    padding: 5px;
}

.explanation{
    width: 85%;
    margin: 20px auto;
    border: 2px solid #eee;
    box-shadow: 4px 2px 4px gray;
    overflow-x: auto;
    padding: 20px;
    text-align: center;
    background-color: #d1e8e2;
    
}

body{
   
    background-color: #2c3531;
}

#peopleTable2{
    margin-top: 20px;
}

.none{
    display: none;
}

.subDiv{
    display: flex;
    justify-content: space-evenly;
}

.subInfo{
    width: 60%;
    margin: auto;
}

.subInfoPicture{
/* width: 30%; */
text-align: center;
}

.imageTd{
    border: none;
}

.toggleBtnOpen{
    border: 2px solid white;
    color: white;
    background-color: #116466;
    border-radius: 50%;
}